body.body-bg {
  background-color: #b2cdb5;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 30px;
  padding: 40px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 30px;
  color: black;
  font-weight: 600;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
}

.button-group {
  display: flex;
  justify-content: center; 
  gap: 15px;               
  margin-top: 30px;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.submit {
  background-color: #619f6d;
}
.submit:hover {
  background-color: #45a049;
}

.cancel {
  background-color: #8b0000;
}
