.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    padding-left: 40px;
    overflow-y: scroll;
    z-index: 1000;
    display: none;
}

.modal.active {
    display: block;
}

.section {
    margin-bottom: 40px;
}

.section h4 {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

label {
    display: block;
    margin: 5px 0;
}
