* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.admin-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-header {
  background-color: #b2cdb5;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width:45px;
  height: auto;
  object-fit: contain;
}

.logo-text {
  color: #3d5a40;
  font-size: 28px;
  font-weight: 700;
}

.logout-header-btn {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-header-btn:hover {
  background-color: #944545;
}

.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.welcome-text {
  font-size: 36px;
  color: #3d5a40;
  margin-bottom: 40px;
  font-weight: 600;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 300px;
}

.admin-btn {
  padding: 16px;
  background-color: #619f6d;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 37px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.admin-btn:hover {
  background-color: #5a665c;
}

.admin-footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #3d5a40;
}

/* Responsive */
@media (max-width: 768px) {
  .admin-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .logout-header-btn {
    align-self: flex-end;
  }

  .welcome-text {
    font-size: 28px;
  }

  .admin-btn {
    font-size: 15px;
    padding: 14px;
  }
}
